@import "../bower_components/rocket/src/scss/_rocket.scss";

// reset styles
html { font-family: "Source Sans Pro", sans-serif; touch-action: manipulation; }
html, body { min-width: 320px; }
img, video { max-width: 100%; height: auto; }
iframe { max-width: 100%; }
@media \0screen {
  img { width: auto; }
}
label { cursor: pointer; }
select { -webkit-appearance: none; }
figure,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p { margin: 0; }
dl,ul,ol { padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }

// varibles
$ro-layout: (
  container: 1170px,
  gutter: 30px,
);
$color-brand: #3F5672;
$light-blue: #a3b1bf;
$color-secondary: #16B18A;
$lato: '"Lato", sans-serif';

// common styles
html { color: $color-brand; }
.container { @include container(); }
.inner-container { @include container(50em); }
.heading1 { @include type(78px uppercase $lato); }
.heading2 { @include type(44px $lato); }
.sub-heading { @include type(22px 1.55); }
p { 
  margin: 1.4em 0;
  line-height: 1.55; 
}
address { font-style: normal; }
.btn {
  @include type(15px uppercase '"Source Sans Pro", sans-serif');
  display: inline-block;
  color: contrast($color-secondary);
  background-color: $color-secondary;
  border: 0;
  border-radius: 0.2em;
  box-shadow: inset 0 -2px 0 1px rgba(0, 0, 0, 0.15);
  &-md {
    @include type(15px bold);
    line-height: 3;
    padding: 0 2em;
  }
  &-bg {
    @include type(18px);
    line-height: 3.4;
    padding: 0 3em;
  }
  &-sm {
    @include type(13px);
    line-height: 2;
    padding: 0 0.6em;
  }
}
.dots {
  margin: 3% 0;
  span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: $color-brand;
    cursor: pointer;
  }
  .active { background-color: $color-secondary; }
}
.card {
  display: block;
  margin: -1px;
  border: 1px solid #E0E4E9;
  background-color: #fff;
}

$gallery-gutter: 2.56%; // (30px / 1170px)
.gallery {
  &2 { @include gallery(2 gutter $gallery-gutter); }
  &3 { @include gallery(3 gutter $gallery-gutter); }
  &4 { @include gallery(4 gutter $gallery-gutter); }
}
[class*="gallery"] img { 
  display: block; 
  width: 100%;
}

// site header
.topbar {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  background-color: #f5f7fb;
  border-bottom: 1px solid #e6e9ed;
  li { display: inline-block; }
  .contact { 
    float: left;
    li { margin-right: 20px; }
    [class*="icon-"] { margin-right: 0.3em; }
  }
  .social {
    float: right;
    a {
      display: block;
      padding: 0 0.4em;
    }
  }
}
.logo {
  &-line { padding: 3% 0; }
  &-header {
    float: left;
    margin-right: 7%;
  }
  &-footer img { width: auto; }
}
.main-nav {
  float: left;
  li { display: inline-block; }
  a {
    @include type(15px uppercase bold);
    display: block;
    padding: 0 1.5em;
    line-height: 40px;
  }
}
.main-search {
  float: right;
  line-height: 40px;
}

.hero, .features, .latest-works, .get-in-touch { 
  padding: 9% 0;
  text-align: center; 
}

// hero
.hero {
  @include center();
  padding: 10% 0;
  background: $color-brand url('../images/hero.png') 50% 50% no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    padding: 0;
    min-height: 45.83vw;
  }
  h2 { color: #fff; }
  p { color: $light-blue; }
  &-content { max-width: 960px; }
}

// features
.features {
  [class*="icon-"] {
    font-size: 4em;
    color: $color-secondary;
    @include media-list('media' 20px);
  }
  .media-body {
    text-align: left;
    @include media-list('media-body');
  }
}

// latest-works
.latest-works {
  background-color: #EFF3F5;
  h3 {
    @include type(20px $lato);
    margin-top: 4%;
  }
  p { margin-top: 0.8em; }
}

// site footer
.site-footer {
  @include type(14px);
  color: $light-blue;
  background-color: #243040;
  &__main {
    padding: 5% 0;
    h3 {
      @include type(16px uppercase $lato);
      margin-bottom: 20px;
      color: #fff;
    }
    form {
      display: inline-block;
      padding: 5px;
      background-color: #3D4958;
      border-radius: 3px;
      overflow: hidden;
    }
    input {
      border: 0;
      background-color: transparent;
      color: $light-blue;
    }
    address {
      line-height: 1.6;
      span { margin-right: 0.3em; }
    }
  }
}
.copyright {
  float: left;
  &-line {
    padding: 2.5% 0;
    color: #707e8c;
    background-color: #1D2835;
    .links {
      float: right;
      li { display: inline-block; }
      a { 
        display: block;
        padding: 0 0.5em;
      }
    }
  }
}